    /* скрываем чекбокс */
    
    #menu__toggle {
        pointer-events: none;
        opacity: 0;
        position: absolute;
    }
    /* стилизуем кнопку */
    
    .menu__toggle+label::before {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        top: 22px;
        right: 22px;
        width: 24px;
        height: 16px;
        cursor: pointer;
        z-index: 1;
        background-image: url("../images/menu_24px.svg");
    }
    
    .menu__toggle:focus+label::before {
        background-image: url("../images/menu_24px_blue.svg");
    }