.svg {
    display: flex;
    justify-content: center;
    height: 120px;
    max-width: 270px;
    border-radius: 4px;
}

.footer__svg {
    height: 24px;
    width: 24px;
    fill: #fff;
    margin-left: 10px;
    margin-top: 5px;
}