.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    overflow: scroll;
}

.backdrop.is-hidden .backdrop__modal {
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    transform: translate(-100%, -100%);
}

.backdrop__modal {
    position: relative;
    margin: auto;
    background: #fff;
    max-width: 450px;
    max-height: 609px;
    padding: 40px;
    border-radius: 4px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    &-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        font-style: normal;
        letter-spacing: 0.03em;
        text-transform: none;
        margin-bottom: 30px;
    }
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button {
    display: flex;
    justify-content: center;
    &-modal {
        padding: 10px 55px;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        transition-property: all;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background: #188CE8;
        }
    }
    &-close {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        background: #fff;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 50%;
        overflow: hidden;
    }
    &-svg {
        width: 30px;
        height: 30px;
        fill: #000000;
        padding: 9px;
        &:hover,
        &:focus {
            fill: $blue;
        }
    }
}

.modal-animate {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {
    .backdrop__modal {
        max-width: 528px;
        max-height: 581px;
    }
}