.layout__sect-blocks {
    background: #F5F4FA;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    &__img {
        height: 320px;
        object-fit: cover;
        overflow: hidden;
    }
    &__list {
        width: 450px;
        margin: 15px;
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 24px;
        &-title {
            text-align: center;
            text-transform: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.03em;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        &-text {
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 16px;
        }
    }
}

@media screen and (min-width: 768px) {
    .blocks {
        &__img {
            height: 260px;
        }
        &__list {
            width: 354px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .blocks {
        &__img {
            height: 260px;
        }
        &__list {
            width: 270px;
        }
    }
}