.cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.cards__list {
    min-width: 150px;
    max-width: 210px;
    margin: 15px;
    &-link {
        border: 1px solid $grey;
        box-sizing: border-box;
        min-width: 150px;
        max-width: 210px;
        height: 90px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: all;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border: 1px $blue solid;
            border-radius: 4px;
        }
    }
    &-svg {
        height: 100%;
        padding: 20px 75px;
        fill: $grey;
        transition-property: all;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: $blue;
        }
    }
}

@media screen and (min-width: 768px) {
    .cards__list {
        &-link {
            width: 226px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .cards__list {
        &-link {
            width: 170px;
        }
        &-svg {
            padding: 15%;
        }
    }
}