.footer {
    background: #2F303A;
    &__list {
        display: flex;
        margin: 0 -34px;
        &-item {
            padding: 0 34px;
        }
        &-form {
            margin-left: auto;
        }
    }
    &__item {
        &-adress {
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            font-weight: 400;
            margin-bottom: 9px;
        }
        &-contact {
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 400;
            margin-bottom: 9px;
        }
        &-text:hover,
        &-text:focus {
            color: $blue;
        }
    }
}