.header {
    position: fixed;
    background: #fff;
    flex: 0 0 auto;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #ECECEC;
    &__items {
        display: flex;
        align-items: center;
        margin: 0 -42px;
    }
    &__item {
        padding: 0 42px;
    }
    &__item-nav {
        margin-right: auto;
    }
    &__item-logo {
        padding: 16px 42px;
        max-width: 141px;
        width: 100%;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .header {
        position: unset;
    }
    .header__item-logo {
        margin-right: 85px;
    }
    .header__items {
        width: 738px;
        margin: auto;
    }
    .header__item {
        padding: 0;
    }
}

@media screen and (min-width: 1200px) {
    .header__item-logo {
        max-width: 153px;
    }
    .header__items {
        width: 1170px;
        margin: auto;
    }
}