.hero__text {
    text-align: center;
    padding: 118px 0;
    &-title {
        margin: 0 auto;
        font-size: 26px;
        text-align: center;
        letter-spacing: 0.06em;
        line-height: 60px;
        color: #FFFFFF;
        max-width: 360px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__text {
        padding: 200px 0;
        &-title {
            margin: 0 auto;
            font-size: 44px;
            max-width: 700px;
            margin-bottom: 30px;
        }
    }
}